*{
    margin: 0px;
    border: 0px;
    padding: 0px;
}

header{
    display: flex;
    justify-content: space-between;
    padding: 4rem;
    background: grey;
    align-items: center;

    
}

.logo{
    text-decoration: none;
}
 ul{
    display: flex;
    list-style: none;
    gap: .8rem;
    align-items: center;
    
 }

 ul li:last-child{
     background-color: black;
     padding: .8rem;
    color: white;
 }