
main{
    position: relative;
    margin: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.box{
    width: 100px;
    height: 100px;
    margin-bottom: 8px;
}

.box1{
    background-color: red;
    /* position: absolute;
    top: 5px;
    left: 5px;
    z-index: 3; */
}
.box2{
    background-color: blue;
    /* position: absolute;
    top: 15px;
    left: 15px; */
}
.box3{
    background-color: green;
    /* position: absolute;
    top: 25px;
    left: 25px; */
}